.news_page_layout {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  row-gap: 1em;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3em;
}

.description {
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_news {
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 1em 2em 1em 2em;
  border: solid 1.5px;
  border-color: black;
  border-radius: 16px;
}

.card_news span {
  padding: 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  color: #fff;
  background-color: black;
  border-radius: 24px;
  width: 24px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-content: center;
  margin-right: -0.7em;
  cursor: pointer;
}

.link {
  color: black;
  font-weight: 600;
  border: solid 1.5px black;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 125px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8px 0px;
}

.link:hover {
  color: white;
  background-color: black;
  transition-duration: 300ms;
}

.card_img_title {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.card_img {
  border-radius: 8px;
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.card_img_creator {
  display: flex;
  flex-direction: column;
}

.h1 {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}
